---
// Importa los módulos necesarios
import PostCard from '../components/PostCard.astro';


// Obtiene los posts del API
const res = await fetch('https://jsonplaceholder.typicode.com/posts');
const posts = await res.json();
---

<html>
	<head>
		<link rel="stylesheet" href="/global.css" />
		<title>Mi Blog en Astro</title>
	</head>
	<body>
		<header class="header">
			<nav>
				<ul class="nav-links">
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>
		<div class="container">
			<h1>Bienvenido a mi Blog</h1>
			<div>
			{posts.map(post => (
				<PostCard key={post.id} post={post} />
			))}
			</div>
		</div>
	</body>
	<footer class="footer">
		<div>
			<ul class="foot-footer">
				Derechos de autor © 2024 Mi Blog en Astro. Todos los derechos reservados.
			</ul>
		</div>
	</footer>
</html>
